head 
    link(rel="stylesheet", href=require("@Sass/kana.scss"))
    link(rel="stylesheet", href=require("@Sass/elements.scss"))
    link(rel="stylesheet", href=require("@Sass/common.scss"))
    link(rel="stylesheet", href=require("@Sass/components/toggle.scss"))
    link(rel="stylesheet", href=require("@Sass/page.scss"))

    link(rel="icon", href=require("@Images/orakeshi-icon.png"))

body
    include ./navigationbar.pug